* {
  padding: 0%;
  margin: 0;
}

body {
 background-color: aqua;
 font-family: 'Press Start 2P', cursive;
}

#show-contact {
  display: none;
}

h1 {
  padding-left: 20%;
  padding-top: 5%;
}

#show-contact {
  padding-top:15%;
  margin: 19%;
 
}

#button-delete {
  top: 9%;
  bottom: 19%;
}

#button-add-address {

}